.App {
  text-align: center;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.todo-item label {
  display: flex;
  align-items: center;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item .task-title {
  flex-grow: 1;
}

.task-icons {
  display: flex;
  align-items: center;
}

.task-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.task-icons button:hover {
  color: #4caf50;
}

.done {
  text-decoration: line-through;
  color: #999;
}